.header__lang-link {
  font-size: 1.5rem;
  line-height: calc(28 / 24);
  color: #fff;
  text-decoration: none;
  transition: opacity .3s ease;
}

.header__lang-link:hover {
  text-decoration: underline;
  opacity: .8;
}

/* @media screen and (max-width: 1024px) {
  .header__lang-link {

  }
} */

/* @media screen and (max-width: 768px) {
  .header__lang-link {

  }
} */

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: calc(20 / 18);
  }
}
