@font-face {
  src: url('../../fonts/inter/_font-weight_400/Interregular.woff2') format('woff2'),
       url('../../fonts/inter/_font-weight_400/Interregular.woff') format('woff'),
       url('../../fonts/inter/_font-weight_400/Interregular.ttf') format('truetype');
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src: url('../../fonts/inter/_font-weight_900/Interblack.woff2') format('woff2'),
       url('../../fonts/inter/_font-weight_900/Interblack.woff') format('woff'),
       url('../../fonts/inter/_font-weight_900/Interblack.ttf') format('truetype');
  font-family: 'Inter';
  font-weight: bold;
}
