.cover {
  background-image: url('../../images/cover/__background/cover__background_dmitrii-vaccinium-22833-unsplash.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vw * 740 / 1280);
  position: relative;
  cursor: pointer;
}

.cover::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: .3;
  transition: opacity .3s ease;
}

.cover:hover::before {
  opacity: .8;
}


@media screen and (min-width: 1280px) {
  .cover {
    height: 740px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    height: calc(100vw * 640 / 1024);
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: calc(100vw * 480 / 768);
  }
}

/* @media screen and (max-width: 320px) {
  .cover {

  }
} */
