.lead__caption {
  font-size: .625rem;
  line-height: calc(14 / 10);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: calc(.625rem * .15);
}

/* @media screen and (max-width: 1024px) {
  .lead__caption {

  }
} */

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }

}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
