.website__link {
  font-size: 1.125rem;
  line-height: calc(22 / 18);
  font-weight: normal;
  color: #fff;
}

/* @media screen and (max-width: 1024px) {
  .website__link {

  }
} */

/* @media screen and (max-width: 768px) {
  .website__link {

  }
} */

/* @media screen and (max-width: 320px) {
  .website__link {

  }
} */
