.place {
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% * 460/984) minmax(min-content, max-content);
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: calc(100% * 440/928) minmax(min-content, max-content);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: calc(100% * 340/720) minmax(min-content, max-content);
    column-gap: 28px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 100%;
    row-gap: 32px;
  }
}
