.header__lang-links {
  margin: 0 0 6px;
  padding: 0;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content;
  gap: 18px;
  list-style: none;
}

/* @media screen and (max-width: 1024px) {
  .header__lang-links {

  }
} */

/* @media screen and (max-width: 768px) {
  .header__lang-links {

  }
} */

@media screen and (max-width: 320px) {
  .header__lang-links {
    margin: 0 0 8px;
  }
}
